{% extends 'base.html.twig' %}

{% block title %} Yatzy {% endblock %}

{% block body %}
    <h2>{{ info }}</h2>
    <p>Samla ihop minst 50 poäng för att hamna på Highscore-listan</p>
    <a href="{{ link }}">Spela Yatzy!</a>
{% endblock %}
